{% extends 'main/base.html' %}
{% load static %}
{% block title %} Find-n-Trade {% endblock %}
{% block links %} {% endblock %}

{% block content %}
<html>

<head>
    <title>О команде</title>
    <meta charset="utf-8">
   <link rel="stylesheet" href="{% static 'main/css/style_imported.css' %}">
   <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>

<body background="{% static 'main/images/bg4.png' %}">

    <main>
      <div class="about_us">
        <h1>Наша история</h1>
        <p>Сайт «Find-n-trade» — это площадка для взаимодействия и партнерства между поставщиками или исполнителями и собственниками бизнеса (клиенты). Платформа будет построена на B2B (бизнес для бизнеса) бизнес-модели.</p>
        <h1>Команда</h1>
        <div class="about_us_photos">
          <div class="about_us_photo"><img src="{% static 'main/img/Aidana.jpg'%}" alt=""><p>Aidana</p></div>
          <div class="about_us_photo"><img src="{% static 'main/img/Dana.jpg'%}" alt=""><p>Dana</p></div>
          <div class="about_us_photo"><img src="{% static 'main/img/Yasmina.jpg'%}" alt=""><p>Yasmina</p></div>
        </div>
      </div>
    </main>
      <footer class="footer">
        <div class="container">
            <div class="footer__wrapper">
                <div class="footer__links">
                    <div class="footer__links__wrapper">
                        <div class="footer__links-column">
                            <ul class="footer__links-column__list">
                                <li class="footer__links-column__list-item"><a href="{% url 'index' %}" class="footer__links-column__list-item__link">Главное</a></li>
                                <li class="footer__links-column__list-item"><a href="{% url 'blog' %}" class="footer__links-column__list-item__link">Блог</a></li>
                                <li class="footer__links-column__list-item"><a href="{% url 'about_us' %}" class="footer__links-column__list-item__link">О нас</a></li>
                                <li class="footer__links-column__list-item"><a href="{% url 'categories' %}" class="footer__links-column__list-item__link">Категории</a></li>
                                <li class="footer__links-column__list-item"><a href="{% url 'contact' %}" class="footer__links-column__list-item__link">Контакты</a></li>
                            </ul>
                        </div>

                        <div class="footer__links-column">
                            <ul class="footer__links-column__list">
                                <li class="footer__links-column__list-item"><a href="{% url 'searchresult' %}" class="footer__links-column__list-item__link">Объявления</a></li>
                                <li class="footer__links-column__list-item"><a href="{% url 'termscond' %}" class="footer__links-column__list-item__link">Условия оказания услуг</a></li>
                                <li class="footer__links-column__list-item"><a href="#" class="footer__links-column__list-item__link">Условия использования сайта</a></li>
                            </ul>
                        </div>

                        <div class="footer__links-column">
                            <ul class="footer__links-column__list">
                                <li class="footer__links-column__list-item"><a href="{% url 'support_chat' %}" class="footer__links-column__list-item__link">Тех.поддержка</a></li>
                                <li class="footer__links-column__list-item"><a href="#" class="footer__links-column__list-item__link">FAQ</a></li>
                            </ul>

                        </div>
                    </div>
                </div>

                <div class="footer__social">
                    <a href="{% url 'index' %}"><div class="footer__social-logo">FIND-N-TRADE</div></a>

                    <div class="footer__social__items">
                        <a href="https://www.instagram.com/"><img src="{% static 'main/icons/insta.svg' %}" alt="instagram" class="footer__social-item">
                        <a href="https://www.youtube.com/"><img src="{% static 'main/icons/youtube.svg' %}" alt="youtube" class="footer__social-item">
                        <a href="https://ru-ru.facebook.com/"><img src="{% static 'main/icons/facebook.svg' %}" alt="facebook" class="footer__social-item">
                    </div>
                </div>
            </div>

            <div class="dash"></div>

            <div class="footer__credit">Ⓒ 2022 Группа компании Find-n-Trade</div>
        </div>
    </footer>
</body>
</html>
{% endblock %}
