{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for i in object_list %}
    {{i.title}} - {{i.cost}} - {{i.responders.all|length}}
    <form action="/add_responder/" method="POST"> 
        {% if i.image_link.file is not None     %}
        <img src="{{i.image_link.url}}" alt="">
        {% endif %}
        {% csrf_token %}
        <input type="text" name="id_ad" value="{{i.id}}" hidden>
        <input type="text" name="id_user" value="{{request.user.id}}" hidden>
        {% if user in i.responders.all %}
        <button disabled>Вы уже отклинулись</button>
        {% else %}
        <button>Откликнуться</button>
        {% endif %}
    </form>
{% endfor %}

</body>
</html>