{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">

    {% block links %} {% endblock %}
</head>

<body>


    <header class="header">

        <div class="sitelogo">
            <a href="{% url 'index' %}">
                <img src="{% static 'main/icons/Find-n-trade.png' %}" alt="">
            </a>
        </div>



        <div class="navigation">

            <input type="checkbox" name="" id="" class="toggle-menu">
            <div class="hamburger"></div>
            <ul class="navmenu">
                <li><a href="{% url 'categories' %}">Категории</a></li>
                <li><a href="{% url 'blog' %}">Блог</a></li>
                <li><a href="{% url 'about_us' %}">О нас</a></li>
                <li><a href="{% url 'contact' %}">Контакты</a></li>
            </ul>
        </div>

        <div class="navicons">
            <a href="#"><img src="{% static 'main/icons/location.png' %}" alt=""></a>
            {% if user.is_authenticated %}
            <a href="{% url 'profile' %}  "><img src="{% static 'main/icons/user.png' %}"></a>
            {% else %}
            <a href="{% url 'register' %} "><img src="{% static 'main/icons/user.png' %}" alt="profile"
                    class="header__settings-profile"></a>
            {% endif %}
        </div>

    </header>


    
    {% block content %}

    {% endblock %}
</body>

</html>