{% extends 'main/base.html' %}
{% load static %}
{% block title %} Find-n-Trade {% endblock %}
{% block links %} {% endblock %}

{% block content %}
<html>

<head>
    <title>Главная</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'main/css/style_imported.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <main class=chatpage>

        <div class="chatcont">
            <input type="hidden" id="logged-in-user" value="{{request.user.id}}">
            <div class="chatleft">
                {% for thread in Threads %}
                <a href="#">
                    <div class="chatlist"  chat-id="chat_{{ thread.id }}" >
                        <div class="chatimg">
                            {% if thread.first_person.profile.image_link.file is not None %}
                              <img src="{{ thread.first_person.profile.image_link.url}}" alt="" class="cover">
                            {% else %}
                                 <img src="{% static 'main/img/no-image-removebg-preview.png'%}" alt="" class="cover">
                            {% endif %}

                        </div>
                        <div class="chatinfo">
                        {% with thread.chatmessage_thread.all.last as chat %}
                            {{ chat.key }}
                            <div class="listhead">
                                <h4>{% if thread.first_person == user %}
				{{ thread.second_person.email }}
			{% else %}
				{{ thread.first_person.email }}
			{% endif %}</h4>
                                <p class="time">{{ chat.timestamp|date:"d D" }}, {{ chat.timestamp|time:"H:i" }}</p>
                            </div>
                            <div class="chatmsg">
                                <p>{{ chat.message }}</p>
                            </div>
                        {% endwith %}

                        </div>
                    </div>
                </a>
                {% endfor %}



            </div>
            {% for thread in Threads %}
            <div class="chatright" chat-id="chat_{{ thread.id }}" other-user-id="
			  {% if thread.first_person == user %}
				  {{ thread.second_person.id }}
			  {% else %}
				  {{ thread.first_person.id }}
			  {% endif %}">
                <div class="chathead">
                    <a href="#" color=""><h4>{% if thread.first_person == user %}
                        {{ thread.second_person.email }}
                    {% else %}
                        {{ thread.first_person.email }}
                    {% endif %}<br><span>в сети</span></h4></a>
                </div>
                <div class="chatbox">
                    {% for chat in thread.chatmessage_thread.all %}
                        {% if chat.user == user %}
                            <div class="message my_message">
                                <p>{{ chat.message }}<br><span>{{ chat.timestamp|date:"d D" }}, {{ chat.timestamp|time:"H:i" }}</span></p>
                            </div>
                        {% else %}
                           <div class="message oth_msg">
                                <p>{{ chat.message }}<br><span>{{ chat.timestamp|date:"d D" }}, {{ chat.timestamp|time:"H:i" }}</span></p>
                           </div>
                        {% endif %}
                    {% endfor %}

                </div>
                <form action="#" id="message_input_form" class="chatbox_input">
                    <a href="#"><i class="fa fa-file" style="font-size:20px;color:white;"></i></a>
                    <input type="text" name="" id="message_input" placeholder="Написать сообщение">
                    <a href="#"><i class="fa fa-send" style="font-size:20px;color:white;"></i></a>
                </form>
            </div>
            {% endfor %}
        </div>

    </main>
<footer class="footer">
        <div class="container">
            <div class="footer__wrapper">
                <div class="footer__links">
                    <div class="footer__links-logo">find-n-trade</div>

                    <div class="footer__links__wrapper">
                        <div class="footer__links-column">
                            <ul class="footer__links-column__list">
                                <li class="footer__links-column__list-item"><a href="#home" class="footer__links-column__list-item__link">Главное</a></li>
                                <li class="footer__links-column__list-item"><a href="reviews.html" class="footer__links-column__list-item__link">Блог</a></li>
                                <li class="footer__links-column__list-item"><a href="#products" class="footer__links-column__list-item__link">О нас</a></li>
                                <li class="footer__links-column__list-item"><a href="#strategies" class="footer__links-column__list-item__link">Категории</a></li>
                                <li class="footer__links-column__list-item"><a href="#partners" class="footer__links-column__list-item__link">Контакты</a></li>
                            </ul>
                        </div>

                        <div class="footer__links-column">
                            <ul class="footer__links-column__list">
                                <li class="footer__links-column__list-item"><a href="#home" class="footer__links-column__list-item__link">Объявления</a></li>
                                <li class="footer__links-column__list-item"><a href="#home" class="footer__links-column__list-item__link">Реклама на сайте</a></li>
                                <li class="footer__links-column__list-item"><a href="#products" class="footer__links-column__list-item__link">Условия оказания услуг</a></li>
                                <li class="footer__links-column__list-item"><a href="#strategies" class="footer__links-column__list-item__link">Условия использования сайта</a></li>
                                <li class="footer__links-column__list-item"><a href="#partners" class="footer__links-column__list-item__link">Инвесторам</a></li>
                            </ul>
                        </div>

                        <div class="footer__links-column">
                            <ul class="footer__links-column__list">
                                <li class="footer__links-column__list-item"><a href="#home" class="footer__links-column__list-item__link">Тех.поддержка</a></li>
                                <li class="footer__links-column__list-item"><a href="#products" class="footer__links-column__list-item__link">Пользовательское соглашение</a></li>
                                <li class="footer__links-column__list-item"><a href="#strategies" class="footer__links-column__list-item__link">FAQ</a></li>
                            </ul>

                            <div class="footer__links-column__langs">
                                <div class="footer__links-column__langs-item footer__links-column__langs-item_kz">KAZ</div>
                                <div class="footer__links-column__langs-item footer__links-column__langs-item_en">ENG</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer__social">
                    <div class="footer__social-logo">FIND-N-TRADE</div>

                    <div class="footer__social__items">
                        <a href="https://www.instagram.com/"><img src="{% static 'main/icons/insta.svg' %}" alt="instagram" class="footer__social-item">
                        <a href="https://www.youtube.com/"><img src="{% static 'main/icons/youtube.svg' %}" alt="youtube" class="footer__social-item">
                        <a href="https://ru-ru.facebook.com/"><img src="{% static 'main/icons/facebook.svg' %}" alt="facebook" class="footer__social-item">
                    </div>
                </div>
            </div>

            <div class="dash"></div>

            <div class="footer__credit">Ⓒ 2022 Группа компании Find-n-Trade</div>
        </div>
    </footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
const textarea = document.querySelector('#message_input')
const chatboxForm = document.querySelector('#message_input_form')

textarea.addEventListener('input', function () {
	let line = textarea.value.split('\n').length

	if(textarea.rows < 6 || line < 6) {
		textarea.rows = line
	}

	if(textarea.rows > 1) {
		chatboxForm.style.alignItems = 'flex-end'
	} else {
		chatboxForm.style.alignItems = 'center'
	}
})

// CHATBOX MESSAGE
const chatboxMessageWrapper = document.querySelector('.chatbox')
const chatboxNoMessage = document.querySelector('.chatbox_message_no_message')


function addZero(num) {
	return num < 10 ? '0'+num : num
}


function scrollBottom() {
	chatboxMessageWrapper.scrollTo(0, chatboxMessageWrapper.scrollHeight)
}

function isValid(value) {
	let text = value.replace(/\n/g, '')
	text = text.replace(/\s/g, '')

	return text.length > 0
}

function getCurrentTime(){
    // Получаем текущую дату и время
    var currentDate = new Date();

    // Массивы с названиями дней недели и месяцев
    var daysOfWeek = ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'];
    var months = ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'];

    // Получаем значения дня недели, дня месяца, месяца, часа и минут
    var dayOfWeek = daysOfWeek[currentDate.getDay()];
    var dayOfMonth = currentDate.getDate();
    var month = months[currentDate.getMonth()];
    var hours = currentDate.getHours();
    var minutes = currentDate.getMinutes();

    // Приводим значения часов и минут к формату с ведущим нулем, если они меньше 10
    hours = hours < 10 ? '0' + hours : hours;
    minutes = minutes < 10 ? '0' + minutes : minutes;

    // Формируем строку с отформатированным временем
    var formattedTime = dayOfMonth + ' ' + dayOfWeek + ', ' + hours + ':' + minutes;
    return formattedTime;
}


let input_message = $('#message_input')
    let message_body = $('.chatbox')
    let send_message_form = $('#message_input_form')
    const USER_ID = $('#logged-in-user').val()

    let loc = window.location
    let wsStart = 'ws://'

    if(loc.protocol === 'https') {
        wsStart = 'wss://'
    }

    let endpoint = wsStart + loc.host + "/chat/"

    console.log(endpoint)
    
    var socket = new WebSocket(endpoint)

    socket.onopen = async function(e){
    console.log('open', e)
    send_message_form.on('submit', function (e){
      e.preventDefault()
      let message = input_message.val()
      let send_to = get_active_other_user_id()
      let thread_id = get_active_thread_id()

      let data = {
          'message': message,
          'sent_by': USER_ID,
          'send_to': send_to,
          'thread_id': thread_id
      }
      data = JSON.stringify(data)
      console.log(data)
      socket.send(data)
      $(this)[0].reset()
    })
    }

    socket.onmessage = async function(e){
        console.log('message', e)
        let data = JSON.parse(e.data)
        let message = data['message']
        let sent_by_id = data['sent_by']
        let thread_id = data['thread_id']
        newMessage(message, sent_by_id, thread_id)
    }

    socket.onerror = async function(e){
        console.log('error', e)
    }

    socket.onclose = async function(e){
        console.log('close', e)
    }

	function newMessage(message, sent_by_id, thread_id) {
        if ($.trim(message) === '') {
            return false;
        }
        let message_element;
        let chat_id = 'chat_' + thread_id


        currentTime = getCurrentTime();
        if(sent_by_id == USER_ID){
            message_element = ` <div class="message my_message">
                                    <p>${message}<br><span>${currentTime}</span></p>
                                </div>`
        } else{
            message_element = ` <div class="message oth_msg">
                                    <p>${message}<br><span>${currentTime}</span></p>
                                </div>`
        }

        let message_body = $('.chatright[chat-id="' + chat_id + '"] .chatbox')
        console.log("putted")
        message_body.append($(message_element))
        message_body.animate({
        scrollTop: $(document).height()
        }, 100);
        input_message.val(null);
    }


$('.chatlist').on('click', function (){
    console.log(this)
    $('.contacts .actiive').removeClass('active')
    $(this).addClass('active')

    // message wrappers
    let chat_id = $(this).attr('chat-id')
    $('.chatright.is_active').removeClass('is_active')
    $('.chatright[chat-id="' + chat_id +'"]').addClass('is_active')

    })

function get_active_other_user_id(){
    let other_user_id = $('.chatright.is_active').attr('other-user-id')
    other_user_id = $.trim(other_user_id)
    return other_user_id
    }

function get_active_thread_id(){
    let chat_id = $('.chatright.is_active').attr('chat-id')
    let thread_id = chat_id.replace('chat_', '')
    return thread_id
}

</script>
{% endblock %}