{% extends 'main/base.html' %}
{% load static %}
{% block title %} Find-n-Trade {% endblock %}
{% block links %} {% endblock %}

{% block content %}
<html>

<head>
    <title>Главная</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'main/css/style_imported.css' %}">
</head>

<body>


    <main class="contact-us">

        <div class="contact">
            <div class="contact-text">
                <span>Хотите стать нашим партнером?</span>
                <span>Столкнулись с проблемой?</span>
                <span>Имеются жалобы или предложения?</span>
            </div>
            <div class="contact-form">
                <h3>Заполните форму, и мы свяжемся с вами</h3>
                <div class="con-inp">
                    <span>Имя Фамилия</span>
                    <input type="text" class="cu-name">
                </div>
                <div class="con-inp">
                    <span>Эл.почта</span>
                    <input type="text" class="cu-mail">
                </div>
                <div class="con-inp" >
                    <span>Ваше сообщение</span>
                    <input type="text" class="cu-msg" id="longtext">
                </div> <button style="    padding: 15px 20px;
            background-color: rgba(86, 128, 233, 0.7015756986388305);
            border: 0;
            border-radius: 10px;
            font-size: 22px;
            cursor: pointer;
            color: #fff;
            margin-top: 20px;
            transition: .2s;
            margin:0 auto;
            }">Отправить</button></a>
            </div>
        </div>


    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer__wrapper">
                <div class="footer__links">
                    <div class="footer__links__wrapper">
                        <div class="footer__links-column">
                            <ul class="footer__links-column__list">
                                <li class="footer__links-column__list-item"><a href="{% url 'index' %}" class="footer__links-column__list-item__link">Главное</a></li>
                                <li class="footer__links-column__list-item"><a href="{% url 'blog' %}" class="footer__links-column__list-item__link">Блог</a></li>
                                <li class="footer__links-column__list-item"><a href="{% url 'about_us' %}" class="footer__links-column__list-item__link">О нас</a></li>
                                <li class="footer__links-column__list-item"><a href="{% url 'categories' %}" class="footer__links-column__list-item__link">Категории</a></li>
                                <li class="footer__links-column__list-item"><a href="{% url 'contact' %}" class="footer__links-column__list-item__link">Контакты</a></li>
                            </ul>
                        </div>

                        <div class="footer__links-column">
                            <ul class="footer__links-column__list">
                                <li class="footer__links-column__list-item"><a href="{% url 'searchresult' %}" class="footer__links-column__list-item__link">Объявления</a></li>
                                <li class="footer__links-column__list-item"><a href="{% url 'termscond' %}" class="footer__links-column__list-item__link">Условия оказания услуг</a></li>
                                <li class="footer__links-column__list-item"><a href="#" class="footer__links-column__list-item__link">Условия использования сайта</a></li>
                            </ul>
                        </div>

                        <div class="footer__links-column">
                            <ul class="footer__links-column__list">
                                <li class="footer__links-column__list-item"><a href="{% url 'support_chat' %}" class="footer__links-column__list-item__link">Тех.поддержка</a></li>
                                <li class="footer__links-column__list-item"><a href="#" class="footer__links-column__list-item__link">FAQ</a></li>
                            </ul>

                        </div>
                    </div>
                </div>

                <div class="footer__social">
                    <a href="{% url 'index' %}"><div class="footer__social-logo">FIND-N-TRADE</div></a>

                    <div class="footer__social__items">
                        <a href="https://www.instagram.com/"><img src="{% static 'main/icons/insta.svg' %}" alt="instagram" class="footer__social-item">
                        <a href="https://www.youtube.com/"><img src="{% static 'main/icons/youtube.svg' %}" alt="youtube" class="footer__social-item">
                        <a href="https://ru-ru.facebook.com/"><img src="{% static 'main/icons/facebook.svg' %}" alt="facebook" class="footer__social-item">
                    </div>
                </div>
            </div>

            <div class="dash"></div>

            <div class="footer__credit">Ⓒ 2022 Группа компании Find-n-Trade</div>
        </div>
    </footer>
</body>

</html>
{% endblock %}