{% extends 'main/base.html' %}
{% load static %}
{% block title %} Find-n-Trade {% endblock %}
{% block links %}  <link rel="stylesheet" href="{% static 'main/css/style_imported.css' %}">  {% endblock %}

{% block content %}

<body background="{% static 'main/images/bg4.png' %}">
    <main>
        <h1 id="newad">Новое объявление</h1>
        <form action="" method="POST" class="newadouterdiv" enctype="multipart/form-data">
          {% csrf_token %}
          <p id="required">*обязательно</p>
          <div class="newadleft">
            <div class="labeloneline">
              <label class="text-field__label" for="name">Название</label>
              <label style="color:#FF3E3E" class="text-field__label" for="name">*
                    {% if form.errors %}
                        {{form.errors}}
                    {% endif %}
            </label>
            </div>
            <select name="user" required="" id="id_user" hidden>
                <option value="{{user.id}}" selected>{{ user.email }}</option>
              
              </select>
            {{form.title}}



               <div class="labeloneline">
              <label class="text-field__label" for="companyname">Описание</label>
              <label style="color:#FF3E3E" class="text-field__label" for="description">*</label>
            </div>
            {{form.description}}

            <div class="labeloneline">
              <label class="text-field__label" for="name">Цена</label>
              <label style="color:#FF3E3E" class="text-field__label" for="price">*</label>
            </div>
            {{form.cost}}
               <div class="labeloneline">
              <label class="text-field__label" for="name">Фотографии/вложения</label>
            </div>
            <div class="file-upload" style="display:flex;">
                         <div class="picedit">
                         <div class="panel">
                          <div class="button_outer">
                            <div class="btn_upload">
                               {{form.image_link}} Upload Image
                            </div>
                            <div class="processing_bar"></div>
                            <div class="success_box"></div>
                          </div>
                         </div>
                        <div class="error_msg"></div>
                        <div class="uploaded_file_view" id="uploaded_view">
                          <span class="file_remove">X</span>
                        </div>
                        </div>
            </div>


        <button id="publishsubmit" type="submit">Опубликовать</button>
        </form>
      </div>
    </main>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<script> var btnUpload = $("#id_image_link"),
    btnOuter = $(".button_outer");
  btnUpload.on("change", function(e){
    var ext = btnUpload.val().split('.').pop().toLowerCase();
    if($.inArray(ext, ['gif','png','jpg','jpeg']) == -1) {
      $(".error_msg").text("Not an Image...");
    } else {
      $(".error_msg").text("");
      btnOuter.addClass("file_uploading");
      setTimeout(function(){
        btnOuter.addClass("file_uploaded");
      },3000);
      var uploadedFile = URL.createObjectURL(e.target.files[0]);
      setTimeout(function(){
        $("#uploaded_view").append('<img src="'+uploadedFile+'" />').addClass("show");
      },3500);
    }
  });
  $(".file_remove").on("click", function(e){
    $("#uploaded_view").removeClass("show");
    $("#uploaded_view").find("img").remove();
    btnOuter.removeClass("file_uploading");
    btnOuter.removeClass("file_uploaded");
  });</script>
{% endblock %}