{% extends 'main/base.html' %}
{% load static %}
{% block title %} Find-n-Trade {% endblock %}
{% block links %}  <link rel="stylesheet" href="{% static 'main/css/style_imported.css' %}">  {% endblock %}

{% block content %}
<body background="{% static 'main/images/bg1.png' %}">
    <main>
        <form action="" method="POST" class="profileedition" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="edittitle">Редактирование профиля</h2>
            <div class="editpro">
                <div class="editleft">
                      {% if forms.profile_form.image_link.initial is not None %}
                    <img src="/media/{{forms.profile_form.image_link.initial}}" alt="" style="object-fit:cover;
                        object-position: right;
                        width:300px;
                 height:300px;
                 border: solid 1px #CCC;
                 border-radius:15px;">
                 {% else %}
                 <img src="{% static 'main/img/no-image-removebg-preview.png'%}" alt="" style="object-fit:cover;
              object-position: right;
                 width:250px;
                 height:250px;
                 border: solid 1px #CCC">
                 {% endif %}
                  <div class="file-upload" style="display:flex;     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;">
                         <div class="picedit">
                         <div class="panel">
                          <div class="button_outer">
                            <div class="btn_upload">
                              <input type="file" name="image_link" id="upload_file" label="" accept="image/*"> Загрузить фото
                            </div>
                            <div class="processing_bar"></div>
                            <div class="success_box"></div>
                          </div>
                         </div>
                        <div class="error_msg"></div>

                        </div>


                            <a href="{% url 'delete_photo' %}"><div class="button_outer" style="display: flex;
    justify-content: center;
    align-items: center;
    color: white;">Удалить фото   </div></a>

            </div>


                </div>
                <div class="editright">

                    <div class="l">
                        <div class="editform">
                            <p class="editname">Имя</p>
                            <div class="editfill">
                                {{forms.custom_user_form.name}}
                            </div>
                        </div>
                        <div class="editform">
                            <p class="editname">Фамилия</p>
                            <div class="editfill">
                                {{forms.custom_user_form.surname}}
                            </div>
                        </div>
                        <div class="editform">
                            <p class="editname">Страна</p>
                            <div class="editfill">
                                <select name="Страна">
                                    <option value="kz">Казахстан</option>
                                    <option value="ru">Россия</option>
                                    <option value="usa">США</option>
                                </select>
                            </div>
                        </div>
                        <div class="editform">
                            <p class="editname">Эл.почта</p>
                            <div class="editfill">
                                {{forms.custom_user_form.email}}
                            </div>
                        </div>
                        <div class="editbtn">
                            <div class="editrole">
                                {% for radio in forms.profile_form.role|slice:"1:" %}
                                <div class="choice">
                                    <label for="contactChoice1">{{ radio.choice_label }}</label>
                                    {{radio.tag}}
                                </div>
                            {% endfor%}


                            </div>
                        </div>
                    </div>

                    <div class="r">
                        <div class="editform">
                            <p class="editname">Телефон</p>
                            <div class="editfill">
                                {{forms.profile_form.phone_number}}

                            </div>
                        </div>
                        <div class="editform">
                            <p class="editname">Дата рождения</p>
                            <div class="editfill">
                                <input type="date" value="ГГГГ-MM-ДД" />
                            </div>
                        </div>
                           <div class="editform">
                            <p class="editname">Имя компании</p>
                            <div class="editfill">
                                {{forms.profile_form.company_name}}

                            </div>
                        </div>
                        <div class="editform">
                            <p class="editname">Описание компании</p>
                            <div class="editfill">
                                {{forms.profile_form.description}}

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="editsave">
                <a href="{% url 'blog' %}"><button type="submit" onclick=""> Сохранить изменения </button></a>
            </div>
        </form>
         <footer class="footer">
        <div class="container">
            <div class="footer__wrapper">
                <div class="footer__links">
                    <div class="footer__links-logo">find-n-trade</div>

                    <div class="footer__links__wrapper">
                        <div class="footer__links-column">
                            <ul class="footer__links-column__list">
                                <li class="footer__links-column__list-item"><a href="#home" class="footer__links-column__list-item__link">Главное</a></li>
                                <li class="footer__links-column__list-item"><a href="reviews.html" class="footer__links-column__list-item__link">Блог</a></li>
                                <li class="footer__links-column__list-item"><a href="#products" class="footer__links-column__list-item__link">О нас</a></li>
                                <li class="footer__links-column__list-item"><a href="#strategies" class="footer__links-column__list-item__link">Категории</a></li>
                                <li class="footer__links-column__list-item"><a href="#partners" class="footer__links-column__list-item__link">Контакты</a></li>
                            </ul>
                        </div>

                        <div class="footer__links-column">
                            <ul class="footer__links-column__list">
                                <li class="footer__links-column__list-item"><a href="#home" class="footer__links-column__list-item__link">Объявления</a></li>
                                <li class="footer__links-column__list-item"><a href="#home" class="footer__links-column__list-item__link">Реклама на сайте</a></li>
                                <li class="footer__links-column__list-item"><a href="#products" class="footer__links-column__list-item__link">Условия оказания услуг</a></li>
                                <li class="footer__links-column__list-item"><a href="#strategies" class="footer__links-column__list-item__link">Условия использования сайта</a></li>
                                <li class="footer__links-column__list-item"><a href="#partners" class="footer__links-column__list-item__link">Инвесторам</a></li>
                            </ul>
                        </div>

                        <div class="footer__links-column">
                            <ul class="footer__links-column__list">
                                <li class="footer__links-column__list-item"><a href="#home" class="footer__links-column__list-item__link">Тех.поддержка</a></li>
                                <li class="footer__links-column__list-item"><a href="#products" class="footer__links-column__list-item__link">Пользовательское соглашение</a></li>
                                <li class="footer__links-column__list-item"><a href="#strategies" class="footer__links-column__list-item__link">FAQ</a></li>
                            </ul>

                            <div class="footer__links-column__langs">
                                <div class="footer__links-column__langs-item footer__links-column__langs-item_kz">KAZ</div>
                                <div class="footer__links-column__langs-item footer__links-column__langs-item_en">ENG</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer__social">
                    <a href="{% url 'index' %}"><div class="footer__social-logo">FIND-N-TRADE</div></a>

                    <div class="footer__social__items">
                        <a href="https://www.instagram.com/"><img src="{% static 'main/icons/insta.svg' %}" alt="instagram" class="footer__social-item">
                        <a href="https://www.youtube.com/"><img src="{% static 'main/icons/youtube.svg' %}" alt="youtube" class="footer__social-item">
                        <a href="https://ru-ru.facebook.com/"><img src="{% static 'main/icons/facebook.svg' %}" alt="facebook" class="footer__social-item">
                    </div>
                </div>
            </div>

            <div class="dash"></div>

            <div class="footer__credit">Ⓒ 2022 Группа компании Find-n-Trade</div>
        </div>
    </footer>
    </main>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<script> var btnUpload = $("#upload_file"),
    btnOuter = $(".button_outer");
  btnUpload.on("change", function(e){
    var ext = btnUpload.val().split('.').pop().toLowerCase();
    if($.inArray(ext, ['gif','png','jpg','jpeg']) == -1) {
      $(".error_msg").text("Not an Image...");
    } else {
      $(".error_msg").text("");
      btnOuter.addClass("file_uploading");
      setTimeout(function(){
        btnOuter.addClass("file_uploaded");
      },3000);
      var uploadedFile = URL.createObjectURL(e.target.files[0]);
      setTimeout(function(){
        $("#uploaded_view").append('<img src="'+uploadedFile+'" />').addClass("show");
      },3500);
    }
  });
  $(".file_remove").on("click", function(e){
    $("#uploaded_view").removeClass("show");
    $("#uploaded_view").find("img").remove();
    btnOuter.removeClass("file_uploading");
    btnOuter.removeClass("file_uploaded");
  });</script>
{% endblock %}