{% extends 'main/base.html' %}
{% load static %}
{% block title %} Find-n-Trade {% endblock %}
{% block links %}  <link rel="stylesheet" href="{% static 'main/css/style_imported.css' %}">  {% endblock %}

{% block content %}

<body background="{% static 'main/images/bg4.png' %}">
    <main>
        <h1 id="newad">Новое объявление</h1>
        <form action="" method="POST" class="newadouterdiv" enctype="multipart/form-data">
          {% csrf_token %}
          <p id="required">*обязательно</p>
          <div class="newadleft">
            <div class="labeloneline">
              <label class="text-field__label" for="name">Название</label>
              <label style="color:#FF3E3E" class="text-field__label" for="name">
                    {% if form.errors %}
                        {{form.errors}}
                    {% endif %}
            </label>
            </div>
            <select name="user" required="" id="id_user" hidden>
                <option value="{{user.id}}" selected>{{ user.email }}</option>

              </select>
            {{form.title}}



               <div class="labeloneline">
              <label class="text-field__label" for="companyname">Описание</label>
              <label style="color:#FF3E3E" class="text-field__label" for="description">*</label>
            </div>
            {{form.description}}

            <div class="labeloneline">
              <label class="text-field__label" for="name">Цена</label>
              <label style="color:#FF3E3E" class="text-field__label" for="price">*</label>
            </div>
            {{form.cost}}
               <div class="labeloneline">
              <label class="text-field__label" for="name">Фотографии/вложения</label>
            </div>
            <div class="file-upload" style="display:flex;">
                         <div class="picedit">
                         <div class="panel">
                          <div class="button_outer">
                            <div class="btn_upload">
                              <input type="file" name="image_link" accept="image/*" id="id_image_link"> Upload Image
                            </div>
                            <div class="processing_bar"></div>
                            <div class="success_box"></div>
                          </div>
                         </div>
                        <div class="error_msg"></div>
                        <div class="uploaded_file_view" id="uploaded_view">
                          <span class="file_remove">X</span>
                        </div>
                        </div>
            </div>


        <button id="publishsubmit" type="submit"><a href="{% url 'active ads' %}">Применить</a> </button>
        </form>
      </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer__wrapper">
                <div class="footer__links">
                    <div class="footer__links__wrapper">
                        <div class="footer__links-column">
                            <ul class="footer__links-column__list">
                                <li class="footer__links-column__list-item"><a href="{% url 'index' %}" class="footer__links-column__list-item__link">Главное</a></li>
                                <li class="footer__links-column__list-item"><a href="{% url 'blog' %}" class="footer__links-column__list-item__link">Блог</a></li>
                                <li class="footer__links-column__list-item"><a href="{% url 'about_us' %}" class="footer__links-column__list-item__link">О нас</a></li>
                                <li class="footer__links-column__list-item"><a href="{% url 'categories' %}" class="footer__links-column__list-item__link">Категории</a></li>
                                <li class="footer__links-column__list-item"><a href="{% url 'contact' %}" class="footer__links-column__list-item__link">Контакты</a></li>
                            </ul>
                        </div>

                        <div class="footer__links-column">
                            <ul class="footer__links-column__list">
                                <li class="footer__links-column__list-item"><a href="{% url 'searchresult' %}" class="footer__links-column__list-item__link">Объявления</a></li>
                                <li class="footer__links-column__list-item"><a href="{% url 'termscond' %}" class="footer__links-column__list-item__link">Условия оказания услуг</a></li>
                                <li class="footer__links-column__list-item"><a href="#" class="footer__links-column__list-item__link">Условия использования сайта</a></li>
                            </ul>
                        </div>

                        <div class="footer__links-column">
                            <ul class="footer__links-column__list">
                                <li class="footer__links-column__list-item"><a href="{% url 'support_chat' %}" class="footer__links-column__list-item__link">Тех.поддержка</a></li>
                                <li class="footer__links-column__list-item"><a href="#" class="footer__links-column__list-item__link">FAQ</a></li>
                            </ul>

                        </div>
                    </div>
                </div>

                <div class="footer__social">
                    <a href="{% url 'index' %}"><div class="footer__social-logo">FIND-N-TRADE</div></a>

                    <div class="footer__social__items">
                        <a href="https://www.instagram.com/"><img src="{% static 'main/icons/insta.svg' %}" alt="instagram" class="footer__social-item">
                        <a href="https://www.youtube.com/"><img src="{% static 'main/icons/youtube.svg' %}" alt="youtube" class="footer__social-item">
                        <a href="https://ru-ru.facebook.com/"><img src="{% static 'main/icons/facebook.svg' %}" alt="facebook" class="footer__social-item">
                    </div>
                </div>
            </div>

            <div class="dash"></div>

            <div class="footer__credit">Ⓒ 2022 Группа компании Find-n-Trade</div>
        </div>
    </footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<script> var btnUpload = $("#id_image_link"),
    btnOuter = $(".button_outer");
  btnUpload.on("change", function(e){
    var ext = btnUpload.val().split('.').pop().toLowerCase();
    if($.inArray(ext, ['gif','png','jpg','jpeg']) == -1) {
      $(".error_msg").text("Not an Image...");
    } else {
      $(".error_msg").text("");
      btnOuter.addClass("file_uploading");
      setTimeout(function(){
        btnOuter.addClass("file_uploaded");
      },3000);
      var uploadedFile = URL.createObjectURL(e.target.files[0]);
      setTimeout(function(){
        $("#uploaded_view").append('<img src="'+uploadedFile+'" />').addClass("show");
      },3500);
    }
  });
  $(".file_remove").on("click", function(e){
    $("#uploaded_view").removeClass("show");
    $("#uploaded_view").find("img").remove();
    btnOuter.removeClass("file_uploading");
    btnOuter.removeClass("file_uploaded");
  });</script>
{% endblock %}