{% extends 'main/base.html' %}
{% load static %}
{% block title %} Find-n-Trade {% endblock %}
{% block links %} {% endblock %}

{% block content %}
<html>

<head>
    <title>Избранное</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'main/css/style_imported.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>

<body>
    <main>
      <h1 id="favpage">Избранное</h1>
      <div class="favorites">
         {% for i in object_list %}
        <div class="fav">
          <div class="fav_image">
             {% if i.ad.image_link.file is not None     %}
              <img src="{{i.ad.image_link.url}}" alt="" style="object-fit:cover;
                 object-position: right;
                 width:125px;
                 height:125px;
                 border: solid 1px #CCC">
                 {% else %}
                 <img src="{% static 'main/img/no-image-removebg-preview.png'%}" alt="" style="object-fit:cover;
                 object-position: right;
                 width:125px;
                 height:125px;
                 border: solid 1px #CCC">
                 {% endif %}

          </div>
          <div class="fav_desc">
            <a href="#"><h2>{{i.ad.title}}</h2></a>
            <div><h3>от {{i.ad.cost}} тг</h3></div>
            <div class="descandheart">
              <div id="descandheart_desc">
                <p>{{i.ad.description}}</p>
              </div>
              <div id="descandheart_heart">
                <form action="{% url 'favs_delete'%}" method="post">
                <input type="hidden" value="{{i.ad.id}}" name="id">
                <button><img src="{% static 'main/icons/Heart.png'%}" alt=""></button>
                {% csrf_token %}
              </form>
              </div>
            </div>
          </div>
        </div>{% endfor %}
      </div>
    </main>
</body>
</html>
{% endblock %}