{% extends 'main/base.html' %}
{% load static %}
{% block title %} Find-n-Trade {% endblock %}
{% block links %} {% endblock %}

{% block content %}
    <section class="promo">
        <div class="container">
            <div class="promo__wrapper">
                <h1 class="promo__header">Поиск бизнес-партнера!</h1>
                <h2 class="promo__subheader">Начни сотрудничество уже сегодня</h2>

                <div class="promo__search">

                    <form action="{% url 'searchresult' %}" class="categories__container-search__wrapper-inputs" method="GET">
                        <button type="submit" class="categories__container-search__wrapper-input__icon"></button>
                        <input type="search" name="q">
                    </form>
                </div>
            </div>
        </div>
    </section>


    <section class="trades">
        <div class="container">
            <div class="trades__header">Недавние объявления</div>

            <div class="trades__wrapper">
                <div class="trades-item">
                    <img src="img/trade_1.jpg" alt="trade" class="trades-item__img">
                    <div class="trades-item__name">SMM специалист</div>
                    <button class="trades-item__btn">Подробнее</button>
                </div>

                <div class="trades-item">
                    <img src="img/trade_2.jpg" alt="trade" class="trades-item__img">
                    <div class="trades-item__name">Кондитер</div>
                    <button class="trades-item__btn">Подробнее</button>
                </div>

                <div class="trades-item">
                    <img src="img/trade_3.jpg" alt="trade" class="trades-item__img">
                    <div class="trades-item__name">Контейнеры для кафе</div>
                    <button class="trades-item__btn">Подробнее</button>
                </div>

                <div class="trades-item">
                    <img src="img/trade_4.jpg" alt="trade" class="trades-item__img">
                    <div class="trades-item__name">Веб-разработка</div>
                    <button class="trades-item__btn">Подробнее</button>
                </div>

                <div class="trades-item">
                    <img src="img/trade_5.jpg" alt="trade" class="trades-item__img">
                    <div class="trades-item__name">Кофейные зерна</div>
                    <button class="trades-item__btn">Подробнее</button>
                </div>

                <div class="trades-item">
                    <img src="img/trade_6.jpg" alt="trade" class="trades-item__img">
                    <div class="trades-item__name">Мебель для кафе/ресторанов</div>
                    <button class="trades-item__btn">Подробнее</button>
                </div>

                <div class="trades-item">
                    <img src="img/trade_7.jpg" alt="trade" class="trades-item__img">
                    <div class="trades-item__name">Цемент строительный</div>
                    <button class="trades-item__btn">Подробнее</button>
                </div>

                <div class="trades-item">
                    <img src="img/trade_8.jpg" alt="trade" class="trades-item__img">
                    <div class="trades-item__name">Массажные кушетки</div>
                    <button class="trades-item__btn">Подробнее</button>
                </div>
            </div>
        </div>
    </section>

    <section class="long">
        <div class="container">
            <div class="long__find">
                <img src="{% static 'main/images/owner.png' %}" alt="man" class="long__find-img">
                <div class="long__find__descr">
                    <div class="long__find__descr-header">Есть бизнес?</div>
                    <div class="long__find__descr-subheader">Найди надежного <br> поставщика в быстрые <br> сроки!</div>
                    <button class="btn btn_find">Найти</button>
                </div>
            </div>
            <div class="long__find">
                <div class="long__find__descr">
                    <div class="long__find__descr-header">Ищешь <br>заказчика?</div>
                    <div class="long__find__descr-subheader2">Найди заказчика и  развивай <br>свое дело!</div>
                    <button class="btn btn_find">Найти</button>
                </div>
                <img src="{% static 'main/images/supplier.png' %}" alt="woman" class="long__find-img">
            </div>

            <div class="long__reviews">
                <div class="long__reviews__header">Отзывы</div>
                <div class="long__reviews__subheader">Пользователи о нас</div>

                <div class="long__reviews__items">
                    <div class="long__reviews__items-item">
                        <div class="long__reviews__items-item__text">супер классный сайт нашла себе партнера , который заказывает выпечку каждый день.Вышла на стабильный доход!</div>
                        <div class="long__reviews__items-item__stars">
                            <img src="icons/star.svg" alt="star" class="long__reviews__items-item__stars-star">
                            <img src="icons/star.svg" alt="star" class="long__reviews__items-item__stars-star">
                            <img src="icons/star.svg" alt="star" class="long__reviews__items-item__stars-star">
                            <img src="icons/star.svg" alt="star" class="long__reviews__items-item__stars-star">
                            <img src="icons/star_empty.svg" alt="star" class="long__reviews__items-item__stars-star">
                        </div>
                        <div class="long__reviews__items-item__user">Асель Муканова</div>
                    </div>

                    <div class="long__reviews__items-item">
                        <div class="long__reviews__items-item__text">супер классный сайт нашла себе партнера , который заказывает выпечку каждый день.Вышла на стабильный доход!</div>
                        <div class="long__reviews__items-item__stars">
                            <img src="icons/star.svg" alt="star" class="long__reviews__items-item__stars-star">
                            <img src="icons/star.svg" alt="star" class="long__reviews__items-item__stars-star">
                            <img src="icons/star.svg" alt="star" class="long__reviews__items-item__stars-star">
                            <img src="icons/star.svg" alt="star" class="long__reviews__items-item__stars-star">
                            <img src="icons/star_empty.svg" alt="star" class="long__reviews__items-item__stars-star">
                        </div>
                        <div class="long__reviews__items-item__user">Асель Муканова</div>
                    </div>

                    <div class="long__reviews__items-item">
                        <div class="long__reviews__items-item__text">супер классный сайт нашла себе партнера , который заказывает выпечку каждый день.Вышла на стабильный доход!</div>
                        <div class="long__reviews__items-item__stars">
                            <img src="icons/star.svg" alt="star" class="long__reviews__items-item__stars-star">
                            <img src="icons/star.svg" alt="star" class="long__reviews__items-item__stars-star">
                            <img src="icons/star.svg" alt="star" class="long__reviews__items-item__stars-star">
                            <img src="icons/star.svg" alt="star" class="long__reviews__items-item__stars-star">
                            <img src="icons/star_empty.svg" alt="star" class="long__reviews__items-item__stars-star">
                        </div>
                        <div class="long__reviews__items-item__user">Асель Муканова</div>
                    </div>
                </div>

                <button class="btn btn_reviews">Больше отзывов</button>
            </div>

            <div class="long__blog">
                <div class="long__blog__header">Наш блог</div>

                <div class="long__blog__items">
                    <div class="long__blog__items-item">
                        <div class="long__blog__items-item__article long__blog__items-item__article_long">Инфлюенсеры, кто это и что они делают?</div>
                    </div>

                    <div class="long__blog__items-item">
                        <div class="long__blog__items-item__article long__blog__items-item__article_short">Как сплоченная команда вляет на успех компании?</div>

                        <a href="{% url 'blog' %}"><button class="btn btn_blog">Перейти в блог</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="footer__wrapper">
                <div class="footer__links">
                    <div class="footer__links-logo">find-n-trade</div>
                        
                    <div class="footer__links__wrapper">
                        <div class="footer__links-column">
                            <ul class="footer__links-column__list">
                                <li class="footer__links-column__list-item"><a href="#home" class="footer__links-column__list-item__link">Главное</a></li>
                                <li class="footer__links-column__list-item"><a href="reviews.html" class="footer__links-column__list-item__link">Блог</a></li>
                                <li class="footer__links-column__list-item"><a href="#products" class="footer__links-column__list-item__link">О нас</a></li>
                                <li class="footer__links-column__list-item"><a href="#strategies" class="footer__links-column__list-item__link">Категории</a></li>
                                <li class="footer__links-column__list-item"><a href="#partners" class="footer__links-column__list-item__link">Контакты</a></li>
                            </ul>
                        </div>

                        <div class="footer__links-column">
                            <ul class="footer__links-column__list">
                                <li class="footer__links-column__list-item"><a href="#home" class="footer__links-column__list-item__link">Объявления</a></li>
                                <li class="footer__links-column__list-item"><a href="#home" class="footer__links-column__list-item__link">Реклама на сайте</a></li>
                                <li class="footer__links-column__list-item"><a href="#products" class="footer__links-column__list-item__link">Условия оказания услуг</a></li>
                                <li class="footer__links-column__list-item"><a href="#strategies" class="footer__links-column__list-item__link">Условия использования сайта</a></li>
                                <li class="footer__links-column__list-item"><a href="#partners" class="footer__links-column__list-item__link">Инвесторам</a></li>
                            </ul>
                        </div>

                        <div class="footer__links-column">
                            <ul class="footer__links-column__list">
                                <li class="footer__links-column__list-item"><a href="#home" class="footer__links-column__list-item__link">Тех.поддержка</a></li>
                                <li class="footer__links-column__list-item"><a href="#products" class="footer__links-column__list-item__link">Пользовательское соглашение</a></li>
                                <li class="footer__links-column__list-item"><a href="#strategies" class="footer__links-column__list-item__link">FAQ</a></li>
                            </ul>

                            <div class="footer__links-column__langs">
                                <div class="footer__links-column__langs-item footer__links-column__langs-item_kz">KAZ</div>
                                <div class="footer__links-column__langs-item footer__links-column__langs-item_en">ENG</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer__social">
                    <a href="{% url 'index' %}"><div class="footer__social-logo">FIND-N-TRADE</div></a>

                    <div class="footer__social__items">
                        <a href="https://www.instagram.com/"><img src="{% static 'main/icons/insta.svg' %}" alt="instagram" class="footer__social-item">
                        <a href="https://www.youtube.com/"><img src="{% static 'main/icons/youtube.svg' %}" alt="youtube" class="footer__social-item">
                        <a href="https://ru-ru.facebook.com/"><img src="{% static 'main/icons/facebook.svg' %}" alt="facebook" class="footer__social-item">
                    </div>
                </div>
            </div>

            <div class="dash"></div>

            <div class="footer__credit">Ⓒ 2022 Группа компании Find-n-Trade</div>
        </div>
    </footer>

    <script src="js/script.js"></script>
{% endblock %}