{% extends 'main/base.html' %}
{% load static %}
{% block title %} Find-n-Trade {% endblock %}
{% block links %} {% endblock %}

{% block content %}
<html>

<head>
    <title>Главная</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'main/css/style_imported.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <main class="myprofile">
        <div class="profile">
            <img id="pic" src="images/businesswoman.jpeg" alt="">
            <a href="#" id="btnedit">
                <div class="btnedit">
                    <p id="editpro">Редактировать<br>профиль</p>
                    <div id="penicon"><i class="fa fa-pencil"></i></div>
                </div>
            </a>
        </div>

        <div class="myinfo">
            <div class="mytext">
                <div class="myname">Сара Кольт</div>
                <div class="mystatus">Видна всем компаниям, зарегистрированным на Find-n-trade</div>
            </div>
            <div class="myads">
                <div class="adsleft">
                    <a href="#">
                        <p id="new">Новое<br>объявление<i id="plus" class="fa fa-plus"></i></p>
                    </a>
                    <a href="#">
                        <p id="active">Активные объявления</p>
                    </a>
                </div>
                <div class="adsright">
                    <a href="#">
                        <p id="archive">Архивные объявления<i id="folder" class="fa fa-folder"></i></p>
                    </a>
                    <a href="#">
                        <p id="fav">Избранное<i id="heart" class="fa fa-heart"></i></p>
                    </a>
                </div>
            </div>
            <div class="myresponds">
                <div class="resptext">
                    По статистике одно приглашение требует 10 откликов
                </div>
                <div class="respbtn">
                    <a href="responds.html">
                        <p id="resps">Отклики</p>
                    </a>
                    <a href="#">
                        <p id="chats">Чаты</p>
                    </a>
                </div>
            </div>
        </div>

    </main>
</body>

</html>
{% endblock %}