{% extends 'main/base.html' %}
{% load static %}
{% block title %} Find-n-Trade {% endblock %}
{% block links %} {% endblock %}

{% block content %}
<html>

<head>
    <title>Главная</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'main/css/style_imported.css' %}">

</head>

<body>

    <main>

        <div class="ofrtitle">
            <h2>Ваши заказы и отклики</h2>
        </div>
        <div class="offers">
            <a href="#">
                <div class="off">
                    <div class="ofrup">
                        <div class="ofrinfo">
                            <h3 class="ofrhead">Lorem ipsum</h3>
                            <p class="ofrdesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit.</p>
                        </div>
                        <div class="ofrbtn">
                            <a href=""><button id="accofr">Принять</button></a>
                            <a href=""><button id="declofr">Отклонить</button></a>
                        </div>
                    </div>
                    <div class="ofrimg">
                        <img src="images/pic.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="off">
                    <div class="ofrup">
                        <div class="ofrinfo">
                            <h3 class="ofrhead">Lorem ipsum</h3>
                            <p class="ofrdesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit.</p>
                        </div>
                        <div class="ofrbtn">
                            <a href=""><button id="accofr">Принять</button></a>
                            <a href=""><button id="declofr">Отклонить</button></a>
                        </div>
                    </div>
                    <div class="ofrimg">
                        <img src="images/pic.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="off">
                    <div class="ofrup">
                        <div class="ofrinfo">
                            <h3 class="ofrhead">Lorem ipsum</h3>
                            <p class="ofrdesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit.</p>
                        </div>
                        <div class="ofrbtn">
                            <a href=""><button id="accofr">Принять</button></a>
                            <a href=""><button id="declofr">Отклонить</button></a>
                        </div>
                    </div>
                    <div class="ofrimg">
                        <img src="images/pic.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="off">
                    <div class="ofrup">
                        <div class="ofrinfo">
                            <h3 class="ofrhead">Lorem ipsum</h3>
                            <p class="ofrdesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit.</p>
                        </div>
                        <div class="ofrbtn">
                            <a href=""><button id="accofr">Принять</button></a>
                            <a href=""><button id="declofr">Отклонить</button></a>
                        </div>
                    </div>
                    <div class="ofrimg">
                        <img src="images/pic.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="off">
                    <div class="ofrup">
                        <div class="ofrinfo">
                            <h3 class="ofrhead">Lorem ipsum</h3>
                            <p class="ofrdesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit.</p>
                        </div>
                        <div class="ofrbtn">
                            <a href=""><button id="accofr">Принять</button></a>
                            <a href=""><button id="declofr">Отклонить</button></a>
                        </div>
                    </div>
                    <div class="ofrimg">
                        <img src="images/pic.png" alt="">
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="off">
                    <div class="ofrup">
                        <div class="ofrinfo">
                            <h3 class="ofrhead">Lorem ipsum</h3>
                            <p class="ofrdesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit.</p>
                        </div>
                        <div class="ofrbtn">
                            <a href=""><button id="accofr">Принять</button></a>
                            <a href=""><button id="declofr">Отклонить</button></a>
                        </div>
                    </div>
                    <div class="ofrimg">
                        <img src="images/pic.png" alt="">
                    </div>
                </div>
            </a>
        </div>
        <div class="morebtn">
            <a href=""><button class="ofrmore">Показать еще</button></a>
        </div>

    </main>

</body>
{% endblock %}