{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Логин</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style_imported.css' %}">
</head>
<body>

    <div class="authorization__container" style="height: auto;">
        <a href="{% url 'index' %}" class="authorization__container-heading">FIND-N-TRADE</a>
        <img src="icons/circles/Ellipse_blue.svg" id="blue">
        <div class="authorization__wrapper">
            <div class="authorization__wrapper-block">
                <h1 class="authorization__wrapper-block-heading">Регистрация</h1>
                <form class="authorization__wrapper-block-form" method="POST">
                     {% csrf_token %}
                   {{forms.custom_user_form.errors}}
                   {{forms.profile_form.errors}}

                    <div class="authorization__wrapper-block-form__pair">
                        <label for="email" class="authorization__wrapper-block-form__pair-label">Имя</label>
                       {{forms.custom_user_form.name}}
                    </div>

                    <div class="authorization__wrapper-block-form__pair">
                        <label for="email" class="authorization__wrapper-block-form__pair-label">Фамилия</label>
                         {{forms.custom_user_form.surname}}
                    </div>


                    <div class="authorization__wrapper-block-form__pair">
                        <label for="email" class="authorization__wrapper-block-form__pair-label">Email адрес</label>
                      {{forms.custom_user_form.email}}
                    </div>


                    <div class="authorization__wrapper-block-form__pair">
                        <label for="email" class="authorization__wrapper-block-form__pair-label">Сотовый телефон</label>
                      {{forms.profile_form.phone_number}}
                    </div>

                      <div class="authorization__wrapper-block-form__pair">
                        <label for="password1" class="authorization__wrapper-block-form__pair-label">Придумайте пароль</label>
                        {{forms.custom_user_form.password}}
                        <span class="warning" style="
                            font-size: 15px;
                            text-align: left;
                            opacity: 0.8;"
                        >Пароль должен содержать от 8 до 14 симолов, одну строчную, одну заглавную букву и одну цифру</span>
                    </div>

            <div class="authorization__wrapper-block-form__pair">
                        <label for="password2">Повторите пароль</label>
                        <input type="password" class="authorization__wrapper-block-form__pair-input" name="password2" placeholder="Повторите пароль">
                    </div>
                    <div class="authorization__wrapper-block-form__pair" style="margin-top: 10px;">
                        <label for="role_header" >Роль</label>
                        {% for radio in forms.profile_form.role|slice:"1:" %}
                            <div class="registration__form__inputs-pair-radios_label">
                                {{ radio.tag }}
                                <label for="role">{{ radio.choice_label }}</label>
                            </div>
                        {% endfor%}
                    </div>
              <div class="registration__form__inputs-pair" style="width: 100%; color:white;">
                        <label for="photo" style="margin: 9px 0px;     text-align: left;">Фото профиля</label>

                        <div class="picedit">
                         <div class="panel">
                          <div class="button_outer">
                            <div class="btn_upload">
                               {{forms.profile_form.image_link}} Upload Image
                            </div>
                            <div class="processing_bar"></div>
                            <div class="success_box"></div>
                          </div>
                         </div>
                        <div class="error_msg"></div>
                        <div class="uploaded_file_view" id="uploaded_view">
                          <span class="file_remove">X</span>
                        </div>
                        </div>
                     </div>

                    {% if form.errors %}
                        <div class="authorization__wrapper-block-form-error">Неверный email или пароль</div>
                    {% endif %}
                    <button type="submit" class="authorization__wrapper-block-form-button">Зарегистрироваться</button>
                    <span>Есть логин? <a href="{% url 'login' %}"><u>Войдите</u></a></span>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<script> var btnUpload = $("#upload_file"),
    btnOuter = $(".button_outer");
  btnUpload.on("change", function(e){
    var ext = btnUpload.val().split('.').pop().toLowerCase();
    if($.inArray(ext, ['gif','png','jpg','jpeg']) == -1) {
      $(".error_msg").text("Not an Image...");
    } else {
      $(".error_msg").text("");
      btnOuter.addClass("file_uploading");
      setTimeout(function(){
        btnOuter.addClass("file_uploaded");
      },3000);
      var uploadedFile = URL.createObjectURL(e.target.files[0]);
      setTimeout(function(){
        $("#uploaded_view").append('<img src="'+uploadedFile+'" />').addClass("show");
      },3500);
    }
  });
  $(".file_remove").on("click", function(e){
    $("#uploaded_view").removeClass("show");
    $("#uploaded_view").find("img").remove();
    btnOuter.removeClass("file_uploading");
    btnOuter.removeClass("file_uploaded");
  });</script>
</html>