{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
   <link rel="stylesheet" href="{% static 'main/css/style_imported.css' %}">

</head>
<body background="{% static 'main/images/bg4.png' %}">

    <div class="registration__container">
        <a href="{% url 'index' %}">FIND-N-TRADE</a>
        <div class="registration__wrapper">
            <h1 class="registration__header">Регистрация</h1>
             <form  class="registration__form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
               {{forms.custom_user_form.errors}}
               {{forms.profile_form.errors}}
                <div class="registration__form__inputs">
                    <div class="registration__form__inputs-pair">
                        <label for="name">Имя</label>
                        {{forms.custom_user_form.name}}
                    </div>
                    <div class="registration__form__inputs-pair">
                        <label for="surname">Фамилия</label>
                        {{forms.custom_user_form.surname}}
                    </div>
                    <div class="registration__form__inputs-pair">
                        <label for="email">Email адрес </label>
                        {{forms.custom_user_form.email}}
                    </div>
                    <div class="registration__form__inputs-pair">
                        <label for="phone">Сотовый телефон</label>
                        {{forms.profile_form.phone_number}}

                    </div>
                    <div class="registration__form__inputs-pair">
                        <label for="password1">Придумайте пароль</label>
                        {{forms.custom_user_form.password}}
                        <span class="warning">Пароль должен содержать от 8 до 14 симолов, одну строчную, одну заглавную букву и одну цифру</span>
                    </div>
                    <div class="registration__form__inputs-pair">
                        <label for="password2">Повторите пароль</label>
                        <input type="password" class="registration__form__inputs-pair-input" name="password2" placeholder="Повторите пароль">
                    </div>
                    <div class="registration__form__inputs-pair-radios" style="margin-top: 10px;">
                        <label for="role_header" >Роль</label>
                        {% for radio in forms.profile_form.role|slice:"1:" %}
                            <div class="registration__form__inputs-pair-radios_label">
                                {{ radio.tag }}
                                <label for="role">{{ radio.choice_label }}</label>
                            </div>
                        {% endfor%}
                    </div>
                     <div class="registration__form__inputs-pair">
                        <label for="photo" style="margin: 9px 0px">Фото профиля</label>

                        <div class="picedit">
                         <div class="panel">
                          <div class="button_outer">
                            <div class="btn_upload">
                               {{forms.profile_form.image_link}} Upload Image
                            </div>
                            <div class="processing_bar"></div>
                            <div class="success_box"></div>
                          </div>
                         </div>
                        <div class="error_msg"></div>
                        <div class="uploaded_file_view" id="uploaded_view">
                          <span class="file_remove">X</span>
                        </div>
                        </div>
                     </div>
                    <div class="registration__form-auth">
                    <span>Есть логин? <a href="{% url 'login' %}"><u>Войдите</u></a></span>
                    </div>

                <button type="submit" class="registration__form-button">
                    Далее
                </button>

              
             </form>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<script> var btnUpload = $("#upload_file"),
    btnOuter = $(".button_outer");
  btnUpload.on("change", function(e){
    var ext = btnUpload.val().split('.').pop().toLowerCase();
    if($.inArray(ext, ['gif','png','jpg','jpeg']) == -1) {
      $(".error_msg").text("Not an Image...");
    } else {
      $(".error_msg").text("");
      btnOuter.addClass("file_uploading");
      setTimeout(function(){
        btnOuter.addClass("file_uploaded");
      },3000);
      var uploadedFile = URL.createObjectURL(e.target.files[0]);
      setTimeout(function(){
        $("#uploaded_view").append('<img src="'+uploadedFile+'" />').addClass("show");
      },3500);
    }
  });
  $(".file_remove").on("click", function(e){
    $("#uploaded_view").removeClass("show");
    $("#uploaded_view").find("img").remove();
    btnOuter.removeClass("file_uploading");
    btnOuter.removeClass("file_uploaded");
  });</script>
</html>

