{% extends 'main/base.html' %}
{% load static %}
{% block title %} Find-n-Trade {% endblock %}
{% block links %} {% endblock %}

{% block content %}
<html>

<head>
    <title>Главная</title>
    <meta charset="utf-8">
     <link rel="stylesheet" href="{% static 'main/css/style_imported.css' %}">
</head>

<body class="responds">

    <main>
        <div class="otkliki">

            <h1>Отклики</h1>
            <div class="notifs">
                <div class="grid-container">
                    <div class="grid-item">
                        <h3>Заголовок</h3>
                        <p>Название компании</p>
                    </div>
                    <div class="grid-item" id="onwait">
                        В ожидании
                    </div>
                    <div class="grid-item">
                        27/10/2022
                    </div>
                    <div class="grid-item">
                        <input type="button" value="Открыть">
                    </div>
                </div>
                <div class="grid-container">
                    <div class="grid-item">
                        <h3>Заголовок</h3>
                        <p>Название компании</p>
                    </div>
                    <div class="grid-item" id="declined">
                        Отказ
                    </div>
                    <div class="grid-item">
                        27/10/2022
                    </div>
                    <div class="grid-item">
                        <input type="button" value="Открыть">
                    </div>
                </div>
                <div class="grid-container">
                    <div class="grid-item">
                        <h3>Заголовок</h3>
                        <p>Название компании</p>
                    </div>
                    <div class="grid-item" id="approved">
                        Приглашение
                    </div>
                    <div class="grid-item">
                        27/10/2022
                    </div>
                    <div class="grid-item">
                        <input type="button" value="Открыть">
                    </div>
                </div>
                <div class="grid-container">
                    <div class="grid-item">
                        <h3>Заголовок</h3>
                        <p>Название компании</p>
                    </div>
                    <div class="grid-item" id="onwait">
                        В ожидании
                    </div>
                    <div class="grid-item">
                        27/10/2022
                    </div>
                    <div class="grid-item">
                        <input type="button" value="Открыть">
                    </div>
                </div>
                <div class="grid-container">
                    <div class="grid-item">
                        <h3>Заголовок</h3>
                        <p>Название компании</p>
                    </div>
                    <div class="grid-item" id="approved">
                        Приглашение
                    </div>
                    <div class="grid-item">
                        27/10/2022
                    </div>
                    <div class="grid-item">
                        <input type="button" value="Открыть">
                    </div>
                </div>
                <div class="grid-container">
                    <div class="grid-item">
                        <h3>Заголовок</h3>
                        <p>Название компании</p>
                    </div>
                    <div class="grid-item" id="approved">
                        Приглашение
                    </div>
                    <div class="grid-item">
                        27/10/2022
                    </div>
                    <div class="grid-item">
                        <input type="button" value="Открыть">
                    </div>
                </div>
            </div>
        </div>

    </main>

</body>

</html>
{% endblock %}