{% extends 'main/base.html' %}
{% load static %}
{% block title %} Find-n-Trade {% endblock %}
{% block links %} {% endblock %}

{% block content %}
<html>

<head>
    <title>Главная</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'main/css/style_imported.css' %}">
</head>

<body>

    <main class="termscond">

        <h2>Условия оказания услуг</h2>

        <div class="terms">
            <div class="firstterm">
                Настоящий текст Условий оказания Услуг действителен на момент подписания Договора и согласно Договору
                может быть изменен Исполнителем в одностороннем порядке путем размещения новой редакции настоящих
                Условий оказания Услуг на Сайте Исполнителя.С момента активации Заказчиком любой из услуг на
                интернет-сайте http://www.findntrade.kz и до окончания оказания услуг Исполнителем временное
                приостановление оказания услуг невозможно.
            </div>
            <div class="alltext">
                <div class="textparts">
                    <span>Условия оказания услуг по публикации вакансий Заказчика</span>
                    <p>4.1. Исполнитель обязуется предоставить Заказчику возможность осуществлять Публикации вакансий на
                        Сайте согласованного Сторонами в Заказе или путем Активации вида и количества.</p>
                    <p>4.1.1. В случае если Заказчик в соответствии с разделом 4.2. настоящих Условий оказания услуг
                        осуществил Публикацию вакансии на Сайте, то на одну публикацию вакансию Заказчик имеет
                        возможность отправить Соискателям не более 2000 приглашений.</p>
                    <p>4.2. Заказчику предоставляется возможность осуществлять Публикации вакансий на Сайте любого
                        вида.4.3. Публикация вакансии возможна только от имени Заказчика, если она не является Анонимной
                        или Закрытой публикацией.4.4. Публикация вакансии на Сайте актуальна тридцать календарных дней с
                        момента размещения. По истечении срока актуальности или до истечения срока актуальности
                        Публикация вакансии может быть размещена заново (обновление Публикации вакансии) в любой момент
                        времени, что считается новой Публикацией вакансии.</p>
                </div>
                <div class="textparts">
                    <span>Условия оказания услуг по размещению рекламных модулей на Сайте/ах Исполнителя</span>
                    <p>6.1. Период показа баннеров согласовываются Сторонами путем подписания Заказов, либо путем Активации соответствующих услуг на Сайте. Для Услуг, объем которых определен в количестве показов, указанная в Заказе дата окончания последнего этапа оказания Услуги является предварительной. Фактическая дата окончания оказания Услуги зависит от фактической интенсивности просмотра Интернет-страницы, на которой размещен баннер, которая определяет количество показов баннера. Для Услуг, объем которых определен во времени (дни, недели, т.п.), даты начала и окончания оказания услуг, указанные в Заказе, являются точными.</p>
                    <p>6.2. Бронирование показов баннеров осуществляется не менее чем за 21 (Двадцать один) день до начала показов.</p>
                    <p>6.3. Баннеры предоставляются в форматах gif или jpeg. Размер файла не более 20 Кб. Возможно размещение flash-баннеров. Технические требования к flash-баннерам перечислены на Сайте на странице «Требования к баннерам и вакансии дня».</p>
                    <p>6.4. Исполнитель имеет право без искажения смысла и содержания материалов редактировать предоставленные Заказчиком материалы, если они не соответствуют нормам русского языка, с предварительным согласованием и уведомлением Заказчика о таком редактировании</p>
                    <p>6.5. Заказчик обязуется передать все материалы для изготовления баннера и утвердить изготовленный баннер в срок не позднее 3 рабочих дней до даты размещения баннера.</p>
                </div>
                
            </div>
        </div>

    </main>
</body>

</html>
{% endblock %}